@import "tailwindcss";

@layer base {
  body {
    @apply bg-gradient-to-r from-black via-[#2b0000] to-[#8b0000] text-white min-h-screen;
  }

  .page-bg {
    @apply bg-gradient-to-r from-black via-black to-red-900 min-h-screen;
  }
}

@layer components {
 
}
