---
---

<header class="w-full bg-gradient-to-r from-black via-[#150000] to-red-900 text-white px-10 py-4 flex items-center justify-between relative">
  <nav class="flex items-center space-x-6 text-sm font-semibold">
    <a href="#" class="hover:text-red-400 transition">Hogar</a>
    <a href="#" class="hover:text-red-400 transition">Alquilar un coche</a>
    <a href="#" class="hover:text-red-400 transition">Buscar coche</a>
    <a href="#" class="hover:text-red-400 transition">Conductores ejecutivos</a>

    <div class="relative group">
      <button class="hover:text-red-400 transition flex items-center gap-1">
        Contacto <span>▼</span>
      </button>
      <div class="absolute hidden group-hover:block bg-black border border-red-700 rounded p-2 mt-2 z-20">
        <a href="#" class="block hover:text-red-400 text-sm">Correo electrónico</a>
        <a href="#" class="block hover:text-red-400 text-sm">WhatsApp</a>
      </div>
    </div>
  </nav>

 <div class="absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-[35%]">
  <img src="public/carros.png" alt="logo" class="w-34 h-54 object-contain" />    
</div>


  <div class="flex items-center space-x-6 text-sm font-semibold">
    <div class="flex items-center space-x-2">
      <span class="text-red-500">📞</span>
      <span>509-461-5951</span>
    </div>
    <a
      href="#"
      class="border border-white px-5 py-2 rounded hover:bg-red-700 hover:border-red-700 transition"
    >
      RESERVAR AHORA
    </a>
  </div>
</header>
