<section class="flex flex-col justify-center items-center text-center px-6 py-32 md:py-40">
 <h1 class="text-5xl md:text-8xl font-bold leading-tight mb-6 font-sans">
  La Principal Empresa De<br />Alquiler De Coches De<br />Spokane
</h1>
  <p class="text-lg md:text-4xl mb-25 text-gray-200 max-w-5xl font-sans">
    Alquiler De Vehículos Elegantes Y Convenientes En Spokane
  </p>
  <div class="flex flex-col md:flex-row gap-4">
    <a href="#" class="btn btn-white boton-diagonal"><span>LLAMANOS AHORA</span></a> 

  <a href="#" class="btn btn-outline boton-diagonal"><span>CONSULTA NUESTRA FLOTA</span></a>


  </div>
</section>
