---
import "../src/styles/global.css";
import Header from "../src/components/header.astro";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hector's Whips</title>
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>
